@import 'colors';
@import 'mixins';

.about {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  position: relative;

  @media screen and (min-width: $break-large) {
    padding: 70px;
  }
}

.about__image {
  display: none;

  @media screen and (min-width: $break-large) {
    display: block;
    @include shadow1;
  }
}

.about-article {
  width: 100%;
  background-color: $primary;
  color: $white;
  padding: 50px 40px;
  @include shadow1;

  @media screen and (min-width: $break-large) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
  }
}

.about-article__title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;

  @media screen and (min-width: $break-large) {
    font-size: 36px;
    line-height: 42px;
  }
}

.about-article__text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;

  @media screen and (min-width: $break-large) {
    font-size: 20px;
    line-height: 23px;
  }
}
