@import 'colors';

.hero {
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 16.58%,
      rgba(255, 255, 255, 0) 72.38%
    ),
    url('../../../assets/img/hero.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.hero__title {
  max-width: 60%;
  padding-left: 20px;
  font-weight: 600;
  font-size: 35px;
  color: $neutral-800;

  @media screen and (min-width: $break-large) {
    font-size: 72px;
    line-height: 84px;
    padding-left: 100px;
  }
}

.hero-highlight {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $primary;
  color: white;
  text-align: center;
  padding: 10px;
}
