$primary: #2947a9;
$secondary: #f9995d;
$white: #ffffff;
$red: #ed6565;
$neutral-900: #14171f;
$neutral-800: #292e3d;
$neutral-700: #3d445c;
$neutral-500: #667299;
$neutral-400: #858ead;
$neutral-300: #a3aac2;
$neutral-200: #c2c7d6;
$neutral-100: #e0e3eb;
$neutral-50: #f6f8f7;
